.btn {
  @apply hover:bg-black/25
    hover:border-white
    border-b-2
    md:border-b-0
    focus:border-b-2
    md:focus:border-b-0
    focus:border-white
    md:border-l-2 border-white/50
  active:transition
  active:duration-500
  transition
  duration-500
  px-8
  py-2
  w-full
  h-full
  text-center
  md:text-left;
}

.btn.active {
  @apply bg-black/50 md:border-l-2 focus:bg-black/50 md:focus:border-l-2 md:focus:border-white;
}
