.experienceMainContainer {
  @apply min-h-screen mx-auto;
}

.experienceContainer {
  @apply flex flex-col sm:flex-row justify-center items-center px-10 lg:w-[52rem] mx-auto mt-[25vh] mb-[25vh];
}

.experienceSection {
  @apply flex flex-col w-full text-white justify-start md:justify-start;
}

.btn {
  @apply hover:bg-black/25
    hover:border-white
    border-b-2
    md:border-b-0
    focus:border-b-2
    md:focus:border-b-0
    focus:border-b-white
    md:focus:border-white/50
    md:border-l-2 border-white/50
  active:transition
  active:duration-500
  transition
  duration-500
  px-8
  py-2
  w-full
  md:h-full
  h-14
  text-center
  md:text-left
  md:border-x-0
  text-sm;
}

.btn.active {
  @apply bg-black/50 md:border-l-2 md:border-l-white focus:bg-black/50 md:focus:border-l-2 md:focus:border-white;
}

.pill {
  @apply p-2 bg-black/25 rounded-md text-sm;
}

.experience-list {
  @apply !mb-2;
}
