@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  background: linear-gradient(
    to bottom right,
    #0e0f14,
    #1e212d,
    #1e212d,
    #0e0f14 /* #9e7540,
    #faf3e0,
    #eabf9f,
    #b68973,
    #1e212d */
  );
  font-family: 'Montserrat', sans-serif;
}

.backgroundAbout {
  background: linear-gradient(
    to bottom left,
    #0e0f14,
    #1e212d,
    #1e212d,
    #0e0f14 /* #9e7540,
    #faf3e0,
    #eabf9f,
    #b68973,
    #1e212d */
  );
  font-family: 'Montserrat', sans-serif;
}

.name {
  font-weight: 500;
}

.email {
  writing-mode: vertical-rl;
}
